body{
	font-family:"微软雅黑" ;
	font-weight: 100;
	background-color: #f0f1f1;
	font-size: 12px;
}
#header{
	width: 100%;
	height: 145px;
}
#header .header_top{
	height: 95px;
	width: 100%;
}
#header .nav_box .tel_phone{
		display: none;
	}
#header .header_top .logo{
	display: block;
	margin-left: 80px;
	float: left;
	margin-top: 25px;
}
#header .header_top .tel_phone{
	display: block;
	margin-right: 80px;
	float: right;
	line-height: 95px;
    
}
#header .header_top .tel_phone span{
	color: #4283D3;
    font-size: 30px;
}
#header .header_top .tel_phone i{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/tel.png) no-repeat;
	position: relative;
	top:5px;
	right: 5px;
}

#header .nav_box{
	width: 100%;
	height: 50px;
	background: #2319dc;
}
#header .nav_box ul{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
#header .nav_box ul li{
	float: left;
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	overflow: hidden;
	margin-right:90px;
}
#header .nav_box ul li a{
	color: #fff;
	font-size: 16px;
	display: block;
}

#banner{
	height: 342px;
}
#banner li{
	  background-size: cover;
	 background-position: center;
}

#main{
	width: 1024px;
	height: auto;
	overflow: hidden;
	margin: 50px auto;
}

#main .section1{
	width: 100%;
	overflow: hidden;
}
#main .section1 ul li{
	float: left;
	width: 50%;
}
#main .section1 ul li dl{
	float: left;
	width: 45%;
	background: #fff;
	border: 1px solid #ccc;
	margin-right: 23px;
	overflow: hidden;
}
#main .section1 ul li dl dt{
	width: 98%;
	margin: 0 auto;
	margin-top: 1%;
	
}
#main .section1 ul li dl dt img{
	width: 100%;
}
#main .section1 ul li dl dd h1{
	  font-size: 20px;
	  color: #F00;
	  text-align: center;
	  line-height: 35px;
	  margin-top: 10px;
}
#main .section1 ul li dl dd p{
	text-align: center;
  	color: #999;
  	line-height: 25px;
  	padding: 10px 0;
  	border-bottom: 1px dotted #E1E1E1;
}

#main .section1 ul li dl dd a.link_btn{
	  width: 90px;
	  height: 30px;
	  display: block;
	  background-color: #4bd9a1;
	  line-height: 30px;
	  text-align: center;
	  font-size: 12px;
	  color: #fff;
	  margin: 10px auto;
}

#main .section2{
	width: 100%;
		
}
#main .section2 h1{
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: url(../img/hbg.jpg) no-repeat center;
	font-size: 2em;
	font-weight: bold;
	margin: 50px auto;
}

#main .section2 ul li{
	float: left;
	position: relative;
	width: 33.333%;
}


#main .section2 ul li img{
	display: block;
}
#main .section2 ul li img.img_show{
	display: block;
	  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#main .section2 ul li img.img_hover{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
  -webkit-transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
	
}
#main .section2 ul li:hover .img_show{
	  -webkit-transform: rotateX(180deg);
  	  -moz-transform: rotateX(180deg);
}
#main .section2 ul li:hover .img_hover{
	  -webkit-transform: rotateX(0deg) rotateY(0deg);
	  -moz-transform: rotateX(0deg) rotate(0deg);
	 /* z-index: 10;
	  position: absolute;*/
}
#footer{
	background: #151515;
}

#footer .footer_top{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

#footer .footer_top dl{
	float: left;
	width: 50%;
}
#footer .footer_top dl dt h1{
	text-align: center;
	font-size: 18px;
	color: #666;
	margin-top: 40px;
}
#footer .footer_top dl dt{
	float: left;
	width: 80px;
	margin-right: 20px;
}
#footer .footer_top dl dt img{
	width: 80px;
}
#footer .footer_top dl dd{
	float: left;
}
#footer .footer_top dl dd ul{
	margin-top: 40px;
}

#footer .footer_top dl dd ul li a{
	color: #6e5d54;
	line-height: 24px;
	font-size: 12px;
}

#footer p{
	  border-top: 1px solid #212121;
	  color: #6E5D54;
	  line-height: 30px;
	  padding-top: 2px;
	  text-align: center;
	  z-index: 1;
	  width: 100%;
	  margin: 0 auto;
	  padding-bottom: 20px;
	  margin-top: 20px;
}


@media screen and (max-width: 1024px) {
	#header{
		width: 100%;
	}
	#header .header_top{
		padding: 0 10px;
		box-sizing: border-box;
	}
	#header .header_top .logo{
		margin-left: 0;
	}
	#header .header_top .tel_phone{
		margin-right: 0;
	}
	
	#header .nav_box ul{
		display: -webkit-box;
		display: -moz-box;
		width: 100%;
	}
	#header .nav_box ul li{
		float: none;
		-webkit-box-flex: 1;
		margin-right: 0;
		text-align: center;
	}
	#main{
		width: 100%;
	}
	#main .section1 ul{
		display: -webkit-box;
	}
	#main .section1 ul li{
		float: none;
		margin: 0 20px;
		-webkit-box-flex: 1;
		display: -webkit-box;
		-webkit-box-pack: justify;
	}
	#main .section1 ul li dl{
		float: none;
		margin: 0;
		
	}
	
	#footer .footer_top{
		width: 100%;
	}
	#main .section2{
		overflow: hidden;
	}
	#main .section2 ul{
		display: -webkit-box;
		padding: 0 20px;
		box-sizing: border-box;
		margin: 0 auto;
	}
	#main .section2 ul li{
		-webkit-box-flex: 1;
	}
	#main .section2 ul li img{
		width: 100%;
	}
}

@media screen and (max-width: 750px){
	#header{
		height: auto;
	}
	#header .header_top{
		height: 80px;
		width: 100%;
		overflow: hidden;
	}
	#header .header_top .logo{
		margin: 20px auto 0;
		display: block;
		float: none;
	}
	#header .header_top .tel_phone{
		display: none;
		
	}
	#header .nav_box{
		overflow: hidden;
		position: relative;
	}
	#header .nav_box ul{
		width: 600px;
		padding-right:50px
	}
	#header .nav_box .tel_phone{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;
		height: 50px;
		line-height: 50px;
		background-color: #2319dc;
		box-shadow: -1px 0 10px rgba(0, 0, 0, 0.56);
		-webkit-transform: translateX(100px);
		color: #fff;
	}
	#header .nav_box .tel_phone i{
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url(../img/tel.png) no-repeat;
		position: relative;
		top:10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	#banner{
		height: 153px;
	}
	#banner li{
		overflow: hidden;
		position: relative;
		
	}
	#banner li img{
		height: 100%;
		position: absolute;
		left: 50%;
		margin-left: -100%;
	}
	#main{
		margin: 10px auto;
	}
	#main .section1 ul{
		-webkit-box-orient: vertical;
		width: 100%;
	}
	#main .section1 ul li{
		width: 100%;
		margin: 0;
		padding: 5px;
		box-sizing: border-box;
		display: -webkit-box;
	}
	#main .section1 ul li dl{
		width: 48%;
	}
	#main .section2 ul{
		-webkit-box-orient: vertical;
	}
	#main .section2 ul li{
		width: 100%;
		margin-bottom: 10px;
	}
	
	#footer .footer_top dl{
		float: none;
		width: 100%;
		overflow: hidden;
	}
} 








